@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display:wght@600&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family:'Open Sans', sans-serif;
}
.left img{
    width: 63px;
    height: 33px;
}

header{
    position: sticky;
    top: 0;
    background: white;
    height: 51px;
    width: 95vw;
    box-shadow: rgba(0, 0, 0, 0.35) 1px 5px 5px; 
}

.container{
    padding:0 0vw;  
   margin: 10px 10px;
   position: sticky;
   top: 0;
  }
nav{
    position: sticky;
    top: 0;
    flex-direction: row;
    align-items: center;
    font-size: 8px;
    padding-top: 3px;
    padding: 0 183px;
    margin: 0 15px;
 
}
nav ul li{
    list-style: none;
    padding: 0 12px;
}
.section1{
    background: rgba(250, 248, 248, 0.539);
    padding: 0 12px;
}

.search{
    width: 34vw;
    padding: 4px 3px;
    border: 1px solid grey;
    background: #f7f8fd;
    border-radius: 6px;
}

.homeImg{
    width: 95vw;
    margin-top: 11px;
   
}

.itemImg{
    width: 8vw;
    margin: 1px 7px;
}
.title{
    padding: 0 39vw;
    font-weight: bolder;
    font-size: 21px;
}


    